*{margin:0;padding:0}html{-webkit-box-sizing:border-box;box-sizing:border-box}*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}body{width:100%;background-color:#eee;font-family:Segoe UI,Frutiger,Dejavu Sans,Helvetica Neue,Arial,sans-serif;color:#222}header{padding:0;margin:0}.nav__container,header{width:100%;background-color:rgba(0, 0, 0, 0.9);}.nav__container{color: white;backdrop-filter: blur(8px);-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;padding:15px;}.nav__mobile .nav__btn1{display:block}.nav__mobile{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.nav__logo{font-size:1.4rem;font-weight:700;color:#555}.nav__menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;overflow:hidden}.showing{max-height:37rem;-webkit-transition:all .5s;transition:all .5s}.nav__menu li{list-style:none;position:relative;white-space:nowrap;padding:1rem 0 0}.nav__menu li a{display:block;font-size:1rem;color:white;text-decoration:none}.nav-toggle1{display:block;background-color:transparent;width:40px;cursor:pointer;padding:4px}.nav-toggle1 span{position:relative;display:block;height:4px;border-radius:35px;width:100%;margin-top:0;background-color:white;-webkit-transition:all .25s;transition:all .25s}.nav-toggle1 span.mrg{margin-top:5px}.nav-toggle1.open span:first-child{-webkit-transform:rotate(45deg) translate(6.2px,6.2px);transform:rotate(45deg) translate(6.2px,6.2px)}.nav-toggle1.open span:nth-child(2){width:0;opacity:0}.nav-toggle1.open span:last-child{-webkit-transform:rotate(-45deg) translate(6.2px,-6.2px);transform:rotate(-45deg) translate(6.2px,-6.2px)}.nav__menu .dropdown ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;position:static;padding:0;max-height:0;overflow:hidden;-webkit-transition:all .4s;transition:all .4s}.nav__menu .dropdown ul.show{max-height:20rem;-webkit-transition:all .4s;transition:all .4s}.nav__menu .dropdown li a{margin-left: 10px;display:block;font-size:1rem;text-transform:capitalize;color:white;text-decoration:none}.nav__menu li a:hover{color:white;}.nav__menu .dropdown>a:after{content:"\f107";font-family:Font Awesome\ 5 Free;font-weight:900;font-size:.875rem;padding-left:5px;color:#7e7e7e;margin-top: 20px;}.nav__menu .active.dropdown>a:after{content:"\f106"}.nav__menu .dropdown .dropdown>a:after{content:"\f107";font-family:Font Awesome\ 5 Free;font-weight:900;font-size:.875rem;padding-left:5px;color:#7e7e7e}.nav__menu .dropdown .active.dropdown>a:after{content:"\f106"}.menu-toggle{max-height:0;overflow:hidden}.menu-toggle,.menu-toggle.active{-webkit-transition:all .4s ease;transition:all .4s ease}.menu-toggle.active{max-height:100vh}.resize-animation-stopper *{-webkit-transition:none!important;transition:none!important;-webkit-animation:none!important;animation:none!important}@media screen and (min-width:800px){.menu-toggle{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;max-height:100vh;overflow:visible}.nav__container{width:100%;max-width:100%;margin:auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;padding:0px}.nav__container,.nav__mobile{height: 50px;padding-left: 20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.nav__mobile .nav__btn1{display:none}.nav__logo img{width:100%;max-width:58px}.nav__menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;max-height:100%;overflow:visible}.nav__menu li{list-style:none;position:relative;white-space:nowrap;padding:1rem}.nav__menu li a{margin-bottom: -20px;font-size:1rem;color:white;text-decoration:none}.nav__menu li a:hover{color:white;}.nav__menu .dropdown{position:relative}.nav__menu .dropdown ul{z-index: 1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;position:absolute;top:100%;left:-30px;opacity:0;visibility:hidden;overflow:visible;padding:0 1rem;-webkit-transition:all .4s ease;transition:all .4s ease}.nav__menu .dropdown:hover>ul{top:100%;left:0;opacity:1;visibility:visible;overflow:visible;padding:0 1rem}.nav__menu .dropdown ul li{padding:.7rem;background-color:rgba(0, 0, 0, 0.9);backdrop-filter: blur(8px);position:relative}.nav__menu .dropdown ul li:hover{background-color:#3493e0}.nav__menu .dropdown ul li a{margin: auto;display:block;color:#fff;text-transform:capitalize}.nav__menu .dropdown ul li a:hover{display:block;color:#c7e0f5}.nav__menu .dropdown>a:after{content:"\f107"}.nav__menu .dropdown:hover>a:after,.nav__menu .dropdown>a:after{font-family:Font Awesome\ 5 Free;font-weight:900;font-size:.875rem;padding-left:5px;color:#7c7c7c}.nav__menu .dropdown:hover>a:after{content:"\f106"}.nav__menu .dropdown .dropdown>a:after{content:"\f105"}.nav__menu .dropdown .dropdown:hover>a:after,.nav__menu .dropdown .dropdown>a:after{font-family:Font Awesome\ 5 Free;font-weight:900;font-size:.875rem;padding-left:10px;color:#fff}.nav__menu .dropdown .dropdown:hover>a:after{content:"\f104"}.nav__menu .dropdown .dropdown:hover>ul{position:absolute;top:0;right:calc(100% - 17px);left:auto;opacity:1;visibility:visible}.nav__menu .dropdown .dropdown ul{position:absolute;top:0;right:calc(100% - 17px);left:auto;opacity:0;visibility:hidden;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}}

html,body
{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.navbar1
{
  position: fixed ;
  top: 0;
  z-index: 1;
  width: 100%;
}

.animate-charcter
{
  background-image: linear-gradient(
    -100deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #231557 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px !important;
  font-weight: 800;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}















.page
{
  width: 100%;
  height: 100px;
}

.page img
{
  width: 100%;
  position: relative;
  height: 20rem;
  filter: blur(3px);
  object-fit: cover;
  z-index: 0;
}

.pagetext h1
{
  left: 5%;
  margin-top: 30px;
  position: relative;
  z-index: 0.1;
}

.pagetext p
{
  margin-top: 0px;
  left: 6%;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  z-index: 0.1;
}

.currentpage
{
  color: blue;
}

.pagetext a
{
  color: black;
  text-decoration: none;
}

.pagetext a:hover
{
  text-decoration: none;
  color: blue;
}














.contect
{
  margin-top: 150px;
}

.contect h1
{
  margin-left: 10px;
  font-size: 25px;
}

.contect p
{
  padding: 10px;
  font-size: 15px;
  text-align: justify; 
  text-align-last: center;
}

















.row1
{
  margin-top: 50px;
}

.ctaxt
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 20px;
}

.ctaxt img
{
  width: 50px;
  height: 50px;
}






















.fotitle h1
{
  font-size: 25px;
  margin-left: 10px;
}



@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

.form
{
  padding: 30px;
}

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

body {
  font: 18px/1.5 "Open Sans", sans-serif;
  background: var(--bodyColor);
  color: var(--white);
  margin: 1.5rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 10px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.my-form *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
}

.my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form input[type="checkbox"] + label::before,
.my-form input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
}

.my-form input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
}

.my-form input[type="checkbox"]:checked + label::before {
  background: var(--red);
}

.my-form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  text-align: right;
  backface-visibility: hidden;
}

footer a {
  text-decoration: none;
}

footer span {
  color: var(--red);
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
  .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
}




























.footer-section {
  z-index: 0;
  background: #151414;
  position: relative;
  margin-top: 20px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text img
{
  margin-bottom: 10px;
  height: 30px;
  width: 30px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.footer-logo img {

    max-width: 200px;
}
.footer-logo h1
{
  text-align: center;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  text-align: justify;
}
.footer-social-icon span {
  text-align: center;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  padding: 30px;
}
.slink
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget
{
  margin-top: 0px;
}
.footer-widget-heading h3 {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 36%;
  bottom: -15px;
  height: 2px;
  width: 100px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.container4
{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 15px;
  color: gray;
  text-align: center;
}
